.containerCover {
  background-image: url("/front-end-react/public/imgs/background.jpg");
  background-size: cover;
  background-attachment: fixed;
};

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-alpha);
  min-height: 100vh;
};

@media (max-width: 1200px) {
  .containerCover {
    background-attachment: scroll;
  };
};

@media (max-width: 768px) {
  .containerCover {
    background-attachment: scroll;
  };
};
